:root {
    --blue-maxlight: #e7eaf6;
    --blue-light: #a2a8d3;
    --blue: #38598b;
    --blue-dark: #113f67;
    --font-color: #eee;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    padding: 2rem;
    background-color: var(--blue-dark);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.logo img {
    max-width: 5rem;
    filter: invert(1);
}

.logo h1 {
    color: white;
    font-size: 2rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: rgb(27, 24, 24);
    gap: 1rem;
    font-size: 2rem;
    background-color: var(--blue-dark);
}

.footer p,
.footer a {
    color: var(--font-color);
}

i {
    margin-right: 1rem;
}
.main {
    display: flex;
    min-height: 100vh;
}

.nav {
    width: 200px;
    min-width: 200px;
    padding: 20px;
    background-color: var(--blue);
}

.nav img {
    max-width: 30px;
    filter: invert(1);
}

.button-default-project {
    background-color: var(--blue);
}

button {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.button-open-nav {
    display: none;
    width: 40px;
    padding: 0;
    background-color: var(--blue);
    font-size: 40px;
}

button,
input {
    border: none;
    color: inherit;
    outline: none;
    font-size: inherit;
    font-family: inherit;
}

.button-default-project p {
    color: var(--font-color);
    font-weight: 600;
}

.button-default-project:hover,
.button-default-project.active {
    background-color: var(--blue-light);
}
.nav h2 {
    color: var(--font-color);
    text-align: left;
}

.add-project-popup {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.add-project-popup.active {
    display: block;
}

.input-add-project-popup {
    border: 1px solid var(--blue-dark);
    margin-bottom: 10px;
    width: 175px;
}

.add-project-popup-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.button-add-project-popup {
    border: 1px solid var(--blue-dark);
    background-color: var(--blue-light);
    font-weight: bold;
    color: var(--font-color);
}

.button-cancel-project-popup {
    border: 1px solid var(--blue-dark);
    background-color: var(--blue-dark);
    font-weight: bold;
    color: var(--font-color);
}

.button-add-project-popup:hover {
    background-color: #2f6ea5;
}

.button-cancel-project-popup:hover {
    background-color: #2f6ea5;
}

.project-preview {
    width: 100%;
    padding: 1rem;
    background-color: var(--blue-maxlight);
}

.project-preview h1 {
    padding: 20px;
    margin-bottom: 10px;
    color: var(--blue);
}

.button-add-task img{
    max-width: 30px;
    filter: invert(29%) sepia(99%) saturate(308%) hue-rotate(175deg) brightness(92%) contrast(91%);
}

.button-add-task {
    background-color: var(--blue-maxlight);
    width: fit-content;
    padding: 20px;
}

.button-add-task p {
    color: var(--blue);
}

.button-add-task:hover {
    background-color: var(--blue-light);
}

.task-popup {
    display: none;
    width: 100%;
    padding: 10px;
    text-align: center;
}